
<div>
<h1 align="center"> ALL USERS  <h1>
</div>
<div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">name</th>
    <th scope="col">email</th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>

  </tr>
<% end %>
</tbody>
</table>
</div>
<%= link_to "Back", admin_dashboard_path,class:"btn btn-dark" %>
