<div class="container">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @user.name %></h1>
   <p class="lead">role:<%= @user.role %> </p>
   </div>
</div>
 <%= link_to "Back", menu_items_path,class:"btn btn-primary btn-lg" %>
