<h1 class="Home-title"> WELCOME TO CAFETERIA</h1>
<h3 class="Home-authenticate">
new user <%= link_to "Sign_UP",new_user_path%>
</h3>
<h3 class="Home-authenticate">
existing user <%= link_to "Sign_in",new_sessions_path%>
</h3>
