<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h5 class="display-4"> Your order has been succesfully placed!!</h5>
   <p class="lead">Total_cost:  $<%= @total %> </p>
   </div>
</div>
 <%= link_to "Back", menu_items_path,class:"btn btn-primary btn-lg" %>
